{% extends "customers/base.html" %}
{% load i18n %}

{% block content %}
<style>
    .gradient-custom-2 {
        /* Fallback for old browsers */
        background: #6a11cb; /* Purple */
    
        /* Chrome 10-25, Safari 5.1-6 */
        background: -webkit-linear-gradient(to right, #00c6ff, #6a11cb); /* Blue to Purple */
    
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        background: linear-gradient(to right, #00c6ff, #6a11cb); /* Blue to Purple */
    }
    

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}
</style>

<section class="h-100 gradient-form" style="background-color: #eee;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
                <div class="card rounded-3 text-black">
                    <div class="row g-0">
                        <div class="col-lg-6">
                            <div class="card-body p-md-5 mx-md-4">

                                <div class="text-center">
                                    <h4 class="mt-1 mb-5 pb-1" style="font-family: 'Pacifico', cursive; font-size: 2.5rem; color: #6a11cb;">
                                        PLITECH Service App
                                    </h4>
                                </div>
                                
                                

                                <form method="POST" action="{% url 'login' %}">
                                    {% csrf_token %}
                                    <p>{% trans "Please login to your account" %}</p>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="text" name="username" id="id_username" class="form-control" placeholder="Enter your username" required>
                                        {% if form.username.errors %}
                                            <div class="text-danger mt-1">
                                                <i class="bi bi-exclamation-circle"></i> {{ form.username.errors }}
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <input type="password" name="password" id="id_password" class="form-control" placeholder="Enter your password" required>
                                        {% if form.password.errors %}
                                            <div class="text-danger mt-1">
                                                <i class="bi bi-exclamation-circle"></i> {{ form.password.errors }}
                                            </div>
                                        {% endif %}
                                    </div>

                                    <div class="text-center pt-1 mb-5 pb-1">
                                        <button data-mdb-button-init data-mdb-ripple-init class="p-3 btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">
                                            Login
                                        </button>
                                    </div>
                                    
                                </form>
                            </div>
                        </div>

                        <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                            <div class="text-white px-3 py-3 p-md-5 mx-md-4">
                                <h4 class="mb-4 text-center">{% trans "Welcome to PLITECH!" %}</h4>
                                <p class="small mb-4 text-justify">
                                    {% trans "As valued members of our metal sheet folding team, we take pride in our commitment to precision and rapidity. Together, we ensure that our clients receive the highest quality products. Let’s continue to uphold our dedication to excellence and trust as we collaborate to achieve our goals." %}
                                </p>
                        
                                <h4 class="mb-4 pt-5 text-center">{% trans "Bienvenue chez PLITECH!" %}</h4>
                                <p class="small mb-4 text-justify">
                                    {% trans "En tant que membres précieux de notre équipe de pliage de tôles métalliques, nous sommes fiers de notre engagement envers la précision et la rapidité. Ensemble, nous veillons à ce que nos clients reçoivent des produits de la plus haute qualité. Continuons à maintenir notre dévouement à l'excellence et à la confiance alors que nous collaborons pour atteindre nos objectifs." %}
                                </p>
                            </div>
                        </div>
                        
                        
                        
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
