<header>
    <a href="{% url 'home' %}">Home</a> | <a href="{% url 'about' %}">About</a>
    | <a href="{% url 'customer-create' %}">Add Customer</a>
    | <a href="{% url 'customer-list' %}">List of customers</a> 
    | <a href= "{% url 'be-list' %}">List of Entry</a> 
    | <a href="{% url 'invoice-list' %}">List Invoice</a> 
    | <a href="{% url 'be-create' %}">Create a New Ticket Entry</a> 
    | <a href="{% url 'banknote-create' %}">Create Banknote</a>    
</header>
{% block content %}
{% endblock content %}