{% extends 'customers/base.html' %}
{% block content %}

    <h2>{{ customer.name | upper}}</h2>
        <h3>Identifiant: CL-{{customer.pk}}</h3>
        <p><strong>Name:</strong> {{ customer.name | upper}}</p>
        <p><strong>Location:</strong> {{ customer.location }}</p>
        <p><strong>Contact:</strong> {{ customer.contact }}</p>
        <p><strong>Company:</strong> {{ customer.company }}</p>

        <p>Last seen {{ last }} days ago</p>
        <p>Frequency :{{frequency}}</p>
        <p>Tot. SM eqv: {{total_sm_eqv |floatformat:1}}</p>

    <!-- <a href="{% url 'customer-update' customer.pk %}">Update</a>  -->
    <br>
    <a href="{% url 'home' %}">Return</a>

{% endblock content %}