{% extends 'customers/base.html' %}
{% block content %}
<h1>Homepage</h1>
{% now 'D d M Y' %}

<div>
    <h3>Revenues</h3>
        <h4>Cumul : {{ amount_ }} MGA</h4>
        <h4>This month : </h4>
        <h4>Last month : </h4>
</div>

<div>
    <h3>S.M. statistics in EQV.</h3>
        <h4>Cumul : {{ sm_eqv |floatformat:1 }} sm or {{ sm_pcs }} pcs</h4>
        <h4>This month : {{ total_sm_current_month }}</h4>
        <h4>Last month : </h4>
</div>
<h3>TOT. CLIENT: {{ client_unique_values_count }}</h3>
<h3>TOT. PCS: {{ sm_pcs }}</h3>
<h3>TOT. EQV SM: {{ sm_eqv |floatformat:1}}</h3>





{% endblock content %}