{% extends 'customers/base.html' %}
{% block content %}
<h1>Target Client List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Location</th>
        <th>Update</th>
    </tr>
    {% for customer_t in customers_ts %}
    <tr>
        <td> <a href="{% url 'customer-detail' customer_t.id %}">CL N°{{customer.pk|stringformat:"05d"}} </a></td>
        <td> {{ customer_t.name | upper}} </td>
        <td> {{ customer_t.location }} </td>
        <td> <a href="{% url 'customer-update' customer_t.id %}">Update</a> </td>
    </tr>
    {% endfor %}
</table>


<a href="{% url 'home' %}">Return</a>

{% endblock content %}

