{% extends 'customers/base.html' %}
{% block content %}

<div class="container">
  
  <h1>Add a New Items</h1>

  {% if items %}
    <h2>List of Items:</h2>
    <hr>
    <ul>
      {% for item in items %}
        <li>{{ item.qty }} {{item.type}} {{item.length}} x {{item.width}} {{item.thickness}} 
          [{{item.owner}}]
        </li>
      {% endfor %}
    </ul>
    <hr>
    <h3>Total: {{total}} </h3>
  {% endif %}

  <h1>Create or add new Line</h1>

      <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary btn-sm ">Add Line</button>
      </form>

      <hr>
    
      <a href="{% url 'be-details' be.pk %}" class="btn btn-success btn-sm" onclick="alert('Ticket Entry create successfully!')"> Validate </a>

</div>

{% endblock content %}