{% extends 'customers/base.html' %}
{% block content %}

<h1>Invoice create or add a New Lines</h1>

<hr>
INV-{{invoice.number}} | BE-{{invoice.be.pk}}</h4>
<hr>
{% if items %}
<ul>
    {% for item in items %}
        <li> {{ item.qty }} 
            {{ item.item }}
            F:{{item.fini}} D:{{item.dvlp}} H:{{item.height}}
            {{item.be_line.type}}
            {{item.be_line.thickness}}
            {{ item.unit_price}} MGA
            [{{ description }}]*
        </li> 
    {% endfor %}
</ul>
{% else %}
<p>Waiting for lines</p>
{% endif %}
<hr>

<h1></h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Line</button>
    </form>

    <a href="{% url 'invoice-detail' invoice.pk %}"> OK </a>

{% endblock content %}