{% extends 'customers/base.html' %}
{% block content %}
    <h1> Ticket entry Details</h1>

    <h2>{{ be.customers.name | upper}}</h2>
        <h3>Identifiant: BL-{{be.pk|stringformat:'05d'}}</h3>
        <p>Date : {{ be.date_entry | upper}}</p>
        <p>Time : {{ be.time_entry }}</p>

        <h2>Ticket entry Lines</h2>
        
    <ul>
        {% for line in be.be_lines.all %}
            <li> {{ line.qty | stringformat:'3s' }}
                 {{ line.type }} 
                 {{ line.thickness }}
                 {{ line.length }} x {{ line.width }}
                 [{{ line.owner }}]
                 {% if line.length != 2_000 %}
                 *
                 {% endif %}
            </li>
        {% endfor %}


        <li><strong>Total Quantity: {{ total_qty }} </strong></li>
    </ul>


     <!-- <a href="{% url 'be-update' be.pk %}"> Update </a> | -->
    <!-- <a href="{% url 'be-add_lines' be.pk %}"> Add Lines </a> | -->
    <a href="{% url 'invoice-create' be.pk %}"> Add Invoice </a> 

{% endblock content %}